# Environments to test build in
image:
- Visual Studio 2013
- Visual Studio 2015
- Visual Studio 2017

# Node JS Versions to be tested against
environment:
  matrix:
  - nodejs_version: "8"
  - nodejs_version: "6"

platform:
- x86
- x64

cache:
 - "%LOCALAPPDATA%\\npm-cache"

# Install scripts. (runs after repo cloning)
install:
  # Get the latest stable version of Node.js or io.js
  - ps: Install-Product node $env:nodejs_version

# Post-install test scripts.
test_script:
  # Output useful info for debugging.
  - node --version
  - npm --version
  # run tests
  - npm run test

# Don't actually build.
build: off
